<form class="form">
</form>

<form [formGroup]="countryForm" novalidate (ngSubmit)="onSubmit()"
      *ngIf="{results: filteredCountries | async, loading: loading | async} as obs">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Testing Auto-Complete Of An Input With Country Names</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Country</mat-label>
            <input type="text"
                   placeholder="Pick A Country"
                   aria-label="Country"
                   matInput
                   formControlName="country"
                   [matAutocomplete]="auto">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
            <mat-hint>Search Countries</mat-hint>
            <mat-error *ngIf="countryForm.controls['country'].hasError('required')">
              Country is <strong>required</strong>
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <!-- If we're loading -->
              <mat-option disabled class="loading" *ngIf="obs.loading">
                <mat-spinner diameter="35"></mat-spinner>
              </mat-option>
              <!-- If we're not loading AND the array length is 0, show this -->
              <mat-option disabled *ngIf="obs.results?.length === 0 && !obs.loading">
                No country found
              </mat-option>
              <!-- Actual payload -->
              <ng-container *ngIf="!obs.loading">
                <mat-option *ngFor="let country of obs.results " [value]="country.name">
                  {{country.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
